<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0e1842" />
    
    <title>Cow Tracker</title>
    <link rel="icon" type="image/x-icon" href="icon.ico">

    <!--Boxicons CDN Link-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="sidebar active">
        <div class="logo_details">
            <div class="logo">
                <img src="icon.png" alt="logo" style="width: 50px;height: 50px">
                <div class="logo_name">COW TRACKER</div>
            </div>
        </div>

        <hr style="margin-top: 10px; width: 80%; height: 0.1mm">
        <ul class="nav_list">
            <li>
                <div class="cowList">
                    <div id="cow1">
                        <img src="cowMarkerYellow_1.png" alt="vaca#1" id="imgCow1">
                        <div class="data">
                            <div class="data_text">
                                <span id="idCow1"></span><br>
                                <span id="statusCow1" style="font-style: italic; color: darkgray">offline</span><br>
                                <label>
                                    <input type="checkbox" id="histCow1"> Historial
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="cow2">
                        <img src="cowMarkerRed_1.png" alt="vaca#2" id="imgCow2">
                        <div class="data">
                            <div class="data_text">
                                <span id="idCow2"></span><br>
                                <span id="statusCow2" style="font-style: italic; color: darkgray">offline</span><br>
                                <label>
                                    <input type="checkbox" id="histCow2"> Historial
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div></div>
                <button id="button" onclick="centerMap()" style="border-radius: 20px">
                    <i class='bx bx-target-lock'></i>
                </button>
            </li>
            <li>
                <div class="iocn-link-rt">
                    <a href="#" id="recorridos">
                        <i class='bx bx-stats'></i>
                        <span class="links_name">Historicos</span>
                    </a>
                </div>

                <div class="historic active">
                    <div class="moment">
                        <p style="margin-top: 5px">Escoja fecha y hora de incio</p>
                        <input
                                id="start_date"
                                type="datetime-local">


                    </div>
                    <div class="moment">
                        <p style="margin-top: 10px">Escoja fecha y hora de fin</p>
                        <input
                                id="end_date"
                                type="datetime-local">

                    </div>
                    <a href="#" id="historics">
                        <i class='bx bx-search-alt' ></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="home_content">
        <div id="onScreeBox">
            <h3 id="boxTitle"></h3>
            <div id="register">

            </div>
        </div>
        <div id="map-template"></div>
    </div>

    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let rec = document.querySelector("#recorridos");
        let historic = document.querySelector(".historic");
        let pick = document.querySelector("#historics");
        let pickingMap = false;


        rec.onclick = function () {
            historic.classList.toggle("active");
            if(!historic.classList.contains('active')){
                document.getElementById('recorridos').style = 'color: #0e1842; background: #c9d1ff;';

                //map.removeLayer(histMarker);
                document.getElementById('boxTitle').innerHTML = "Por favor, haga click en algún lugar del mapa"

                try{
                    document.getElementById('RegisterDiv').remove();
                } catch (err){
                }
            }else{
                document.getElementById('recorridos').style = 'color: black; background: #d79e9d;';
                document.getElementById('onScreeBox').style = 'display: none;'
            }
            console.log(pickingMap)
        }

        pick.addEventListener('click',function (){
            //if(!pickingMap){
            document.getElementById('onScreeBox').style = 'display: block;'
            pickingMap = true
            //document.getElementById('pickingMap').style = 'color: #ffffff; background: #1f2e6c;'
            map.removeLayer(histMarker);
            try{
                document.getElementById('RegisterDiv').remove();
            } catch (err){
            }
            //}
            console.log(pickingMap)
            map.on(typeMouseMap, mapType());
        });


        if(document.getElementById("statusCow1").innerHTML === 'offline'){
            document.getElementById("histCow1").disabled = false;
        }
        if(document.getElementById("statusCow2").innerHTML === 'offline'){
            document.getElementById("histCow2").disabled = false;
        }

    </script>

    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script> 
    <script src="/js/main.js"></script>
</body>
</html>